<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kbstar.mapper.ItemMapper">
    <select id="select" parameterType="int" resultType="item">
        SELECT * FROM item WHERE id=#{id} AND is_valid = 1
    </select>

    <select id="selectall" resultType="item">
        SELECT * FROM item
    </select>

    <select id="getpage" resultType="item">
        SELECT * FROM item ORDER BY id DESC
    </select>

    <insert id="insert" parameterType="item">
        INSERT INTO ITEM (id, name, item_size, price, img, color, rdate, is_valid) VALUES (item_seq.NEXTVAL, #{name}, #{itemSize}, #{price}, #{img}, #{color}, SYSTIMESTAMP, 1)
    </insert>

    <update id="update" parameterType="item">
        UPDATE item SET name=#{name},price=#{price},img=#{img}, color=#{color}, item_size = #{itemSize}, udate=SYSTIMESTAMP WHERE id=#{id}
    </update>

    <delete id="delete" parameterType="int">
    -- id가 string으로 들어오면 해당 id를 삭제한다
        UPDATE item SET name=#{name},price=#{price},img=#{img}, color=#{color}, item_size = #{itemSize}, udate=SYSTIMESTAMP, is_valid = 0 WHERE id=#{id}
    </delete>

</mapper>